body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f9fc;
}

.hero {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

h1 {
  margin: 0 0 10px;
}

h2 {
  color: #0a3d62;
  margin-bottom: 10px;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.contact a {
  color: #0a3d62;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  background-color: #ececec;
}


.blog {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.post-preview {
  margin-bottom: 30px;
}

.post-preview h3 a {
  color: #0a3d62;
  text-decoration: none;
}

.post-preview p {
  color: #555;
}

